<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPresent</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<body>
<div id="fon">
    <div id="stars">
        <div id="heading-text">API</div>
        <div>Present API</div>
        <ol>
            <li>
                <button type="button" class="button-text" id="getAllPresent">Получить все подарки</button>
            </li>
            <li>
                <input type="number" id="getPresentValueId" min="1" max="999" value="1">
                <button type="button" class="button-text" id="getPresentById">Получить подарок по Id</button>
            </li>
            <li>
                <button type="button" class="button-text" id="addPresent">Добавить подарок</button>
            </li>
            <li>
                <input type="number" id="deletePresentValueId" min="1" max="999" value="1">
                <button type="button" class="button-text" id="deletePresentById">Удалить подарки</button>
            </li>
        </ol>
        <div id="subtitle-text">Question API</div>
        <ol>
            <li>
                <button type="button" class="button-text" id="getAllQuestion">Получить все подарки</button>
            </li>
            <li>
                <button type="button" class="button-text" id="getTopQuestion">Получить Топ подарков</button>
            </li>
            <li>
                <input type="number" id="getQuestionValueId" min="1" max="999" value="1">
                <button type="button" class="button-text" id="getQuestionById">Получить подарок по Id</button>
            </li>
            <li>
                <button type="button" class="button-text" id="addQuestion">Добавить подарок</button>

            </li>
            <li>
                <input type="number" id="deleteQuestionValueId" min="1" max="999" value="1">
                <button type="button" class="button-text" id="deleteQuestionById">Удалить подарки по id</button>
            </li>
        </ol>

    </div>

    <div id="picture">
        <div id="picture-woman">
            <img id="fog" th:src="@{css/images/fog.png}" alt="fog"/>
            <img id="woman" th:src="@{css/images/woman.png}" alt="woman"/>
            <img id="ball" th:src="@{css/images/ball.png}" alt="ball"/>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/javascript/present.js}"></script>
<script type="text/javascript" th:src="@{/javascript/question.js}"></script>
</body>
</html>