<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPresent</title>
</head>
<body>
<h1>API</h1>
<h2>Present API</h2>
<ol>

    <li><a href="https://mypresentpet.herokuapp.com/present/getall">Получить все подарки</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/present/getbyid/1">Получить подарок по Id</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/present/add">Добавить подарок</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/present/delete/1">Удалить подарки</a></li>
</ol>
<h2>Question API</h2>
<ol>

    <li><a href="https://mypresentpet.herokuapp.com/question/getall">Получить все вопросы</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/question/getbyid/1">Получить вопрос по Id</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/question/gettop">Получить топ вопросов</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/question/add">Добавить вопрос</a></li>
    <li><a href="https://mypresentpet.herokuapp.com/question/delete/1">Удалить вопрос</a></li>
</ol>


</body>
</html>